body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue" "Inter",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(25deg, #e81a91, #c865b3, #978cd8, #03acfd)
}

/* Fade transition*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.38s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* Slide-right */
.slide-enter-active,
.slide-leave-active {
  transition: 0.38s ease;
}
.slide-enter-from {
  transform: translateX(-50%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(50%);
  opacity: 0;
}
/* slide-left + righr */
/* .slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.75s ease-out;
  width: 100%;
  bottom: 0;
  opacity: 0.8;
}
.slide-right-leave-from,
.slide-left-enter-to {
  position: absolute;
  right: 0;
}
.slide-right-leave-to,
.slide-left-enter-from {
  position: absolute;
  right: -100%;
}
.slide-right-enter-from,
.slide-left-leave-to {
  position: absolute;
  left: -100%;
}
.slide-right-enter-to,
.slide-left-leave-from {
  position: absolute;
  left: 0;
} */